aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.14.1
atproto==0.0.69
attrs==26.1.0
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
cryptography==46.0.7
dnspython==2.8.0
Flask==3.1.3
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
libipld==3.4.1
libretranslatepy==2.1.1
lxml==6.1.1
MarkupSafe==3.0.3
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyjokes==0.8.3
PyJWT==2.13.0
pypdf==6.14.0
requests==2.34.2
soupsieve==2.8.4
translate==3.8.0
twilio==9.10.9
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==5.13.0
urllib3==2.7.0
websockets==15.0.1
Werkzeug==3.1.8
yarl==1.24.2
